/* Test if CSS is working */
body {
    background-color: yellow !important;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
}
.btn {
  display: block;
  margin: 15px auto;
  padding: 15px 30px;
  background: #000;
  color: #fff;
  text-decoration: none;
  width: 80%;
  border-radius: 30px;
}

